{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/base/css/msg_style.css">
{% endblock %}

{% block content %}

    <!--内容-->
<div class="container" style="margin-top:76px">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;会员登录</h3>
                </div>
                <div class="panel-body">

                    <form action="{% url 'user_login' %}" method="post" class="smart-green">{% csrf_token %}

                        <h1>用户登录</h1>

{#                        {{ form.as_p }}#}
{##}
{#                        {% if messages %}#}
{#                           <ul>#}
{#                              {% for msg in messages %}#}
{#                                <li style="color: red">{{msg.message}}</li>#}
{#                               {% endfor %}#}
{#                           </ul>#}
{##}
{#                        {% endif %}#}
                        <label for="username">用户名</label>
                        {{ form.username }}
                        <span style="color: red">{{ form.username.errors }}</span>
                        <label for="password">密码</label>
                        {{ form.password }}
                        <span style="color: red">{{ form.password.errors }}</span>
{#                        <span style="color: red">#}
{#                            {% if form | all_errors %}#}
{#                                {{ form | all_errors }}#}
{#                            {% endif %}#}
{#                        </span>#}
                        <div class="form-group">
                            <label for="password">验证码</label>
                            <div class="row">
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" name="check_code"
                                    id="check_code" placeholder="请输入验证码">
                                </div>
                                <div class="col-xs-5">
                                    <img id="check_code_img" src="/app/create_code_img/"
                                    onclick="refresh_check_code(this)">
                                </div>
                            </div>
                            <span style="color: red">{{ errors.check_code }}</span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="1" name="auto_login">一个月内自动登录
                            </label>
                        </div>

                        <div class="success-msg"></div>
                        <label>
                            <span>&nbsp;</span>
                            <input type="submit" class="button" value="提交登录"/>
                        </label>

                        <label>
                            <span>忘记账号？请点击 <a href="/app/register/">注册</a></span>
                        </label>

                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
<!--内容-->


{% endblock %}

{% block js %}
<script>
function refresh_check_code(ths) {
    ths.src += '?';
    {#                src后面加问好会自动刷新验证码img的src#}
}
</script>
{% endblock %}