{% extends "base.html" %}

<script type="text/javascript">
    $(document).ready(function () {
            var addShoppings = document.getElementsByClassName("addShopping")
    var subShoppings = document.getElementsByClassName("subShopping")

    for (var i = 0; i < addShoppings.length; i++){
        addShopping = addShoppings[i]
        addShopping.addEventListener("click", function(){
            pid = this.getAttribute("ga")
            $.post("/changecart/0/",{"productid":pid}, function(data){
                if (data.status == "success"){
                    //添加成功，把中间的span的innerHTML变成当前的数量
                    document.getElementById(pid).innerHTML = data.data
                } else {
                    if (data.data == -1){
                        window.location.href = "http://127.0.0.1:8001/app/login/"
                    }
                }
            })
        })
    }


    for (var i = 0; i < subShoppings.length; i++){
        subShopping = subShoppings[i]
        subShopping.addEventListener("click", function(){
            pid = this.getAttribute("ga")
            $.post("/changecart/1/",{"productid":pid}, function(data){
                if (data.status == "success"){
                    //添加成功，把中间的span的innerHTML变成当前的数量
                    document.getElementById(pid).innerHTML = data.data
                } else {
                    if (data.data == -1){
                        window.location.href = "http://127.0.0.1:8001/app/login/"
                    }
                }
            })
        })
    }
    })
</script>




{% block content %}

<!--内容-->
<div class="container" style="margin-top:76px">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>{{user.username}}的购物车清单</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-9">
                    <table class="table" style="border: 1px;">
                        <thead>
                        <tr>
                            <th class="yellow header">名称</th>
                            <th class="header">数量</th>
                            <th class="blue header">单价</th>
                            <th class="green header">小计</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart %}
                        <tr>
                            <td><input type="checkbox" />{{item.product.a_title}}</td>
                             <th><button class="subShopping"  ga="{{item.productid}}">-</button> {{item.quantity}} <button class="addShopping"  ga="{{item.productid}}">+</button></th>
                            <td>{{item.unit_price}}</td>
                            <td>{% widthratio item.quantity 1 item.unit_price %}</td>

                        </tr>
                        {% endfor %}
                        <tr style="color: green">
                            <th></th>
                            <td></td>
                            <th>总计：</th>
                            <th>{{total_price}}</th>
                        </tr>
                        </tbody>
                    </table>
                    </div>

                    <div class="col-md-3">
                    <p>
                        <a class="btn  btn-primary"  type="button" href="/app/index">继续购物</a></p>

                    <p><br>
                        <a class="btn  btn-danger" type="button" href="/app/cart/clean">清空购物车</a></p>
                    <p><br>
                        <a class="btn  btn-success" href="/app/cart/order">商品结算</a></p>
                    </div>


                </div>



            </div>

        </div>
    </div>
</div>

{% endblock %}

